<!-- FAQ Start -->
<div class="row" style="background:#f9f9f9;margin: 0px;">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<p class="bulk">Home / Bulk Order </p>
	</div>
</div>
<div class="container" style="color: #666666">
  <h2 style="margin-bottom:3%;">Frequently Asked Questions?</h2>
  <h4 class="bulk-heading">Order Bulk RS Gold and CS:GO Items</h4>
  <p>
  	We accept the following payment options in return for a lower price on the Runescape gold / goods:
	Western Union
	Playerauctions 
	Bitcoins
	PayPal MyCash Card
	Bank Wire
	By ordering in bulk with any of our accepted payment methods, we can offer a discounted rate, please contact our live-chat support to place a bulk order with any of the payment methods listed above.
</p> 
</div>