<!-- FAQ Start -->
<div class="row" style="background:#f9f9f9;margin: 0px;">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<p class="faq">Home / FAQ </p>
	</div>
</div>
<div class="container" style="color: #666666">
  <h2 style="margin-bottom:3%;">Frequently Asked Questions?</h2>
  <h4 class="faq-heading">What should I do after placing an order?</h4>
  <p>Please contact our live-support after ordering and we will promptly deliver your Runescape Gold.</p> 
  <h4 class="faq-heading">What payment methods do you accept for Runescape Gold?</h4>
  <p>We accept Paypal as an instant checkout, as well as Playerauctions, Bitcoins, Greendot MoneyPak or Bank Wire for bulk orders.

If you are buying Runescape 2007 or Runescape 3, Runescape EOC Gold with PayPal, please just place an order through the website and select the Paypal option at the end.

If you are ordering Runescape gold with MoneyPak, Playerauctions, MoneyGram, Bitcoins, or Bank wire, please notify the live chat team in the bottom right hand corner for further instruction. We will process your Runescape Gold order manually there!</p> 
<h4 class="faq-heading">What payment methods do you accept for Runescape Gold?</h4>
  <p>We accept Paypal as an instant checkout, as well as Playerauctions, Bitcoins, Greendot MoneyPak or Bank Wire for bulk orders.

If you are buying Runescape 2007 or Runescape 3, Runescape EOC Gold with PayPal, please just place an order through the website and select the Paypal option at the end.

If you are ordering Runescape gold with MoneyPak, Playerauctions, MoneyGram, Bitcoins, or Bank wire, please notify the live chat team in the bottom right hand corner for further instruction. We will process your Runescape Gold order manually there!</p> 
<h4 class="faq-heading">What payment methods do you accept for Runescape Gold?</h4>
  <p>We accept Paypal as an instant checkout, as well as Playerauctions, Bitcoins, Greendot MoneyPak or Bank Wire for bulk orders.

If you are buying Runescape 2007 or Runescape 3, Runescape EOC Gold with PayPal, please just place an order through the website and select the Paypal option at the end.

If you are ordering Runescape gold with MoneyPak, Playerauctions, MoneyGram, Bitcoins, or Bank wire, please notify the live chat team in the bottom right hand corner for further instruction. We will process your Runescape Gold order manually there!</p> 
<h4 class="faq-heading">What payment methods do you accept for Runescape Gold?</h4>
  <p>We accept Paypal as an instant checkout, as well as Playerauctions, Bitcoins, Greendot MoneyPak or Bank Wire for bulk orders.

If you are buying Runescape 2007 or Runescape 3, Runescape EOC Gold with PayPal, please just place an order through the website and select the Paypal option at the end.

If you are ordering Runescape gold with MoneyPak, Playerauctions, MoneyGram, Bitcoins, or Bank wire, please notify the live chat team in the bottom right hand corner for further instruction. We will process your Runescape Gold order manually there!</p> 
<h4 class="faq-heading">What payment methods do you accept for Runescape Gold?</h4>
  <p>We accept Paypal as an instant checkout, as well as Playerauctions, Bitcoins, Greendot MoneyPak or Bank Wire for bulk orders.

If you are buying Runescape 2007 or Runescape 3, Runescape EOC Gold with PayPal, please just place an order through the website and select the Paypal option at the end.

If you are ordering Runescape gold with MoneyPak, Playerauctions, MoneyGram, Bitcoins, or Bank wire, please notify the live chat team in the bottom right hand corner for further instruction. We will process your Runescape Gold order manually there!</p> 
</div>
<!-- FAQ End -->