<!-- Slider Start -->
<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../../assets/images/9.jpg" alt="Random first slide">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/10.jpg" alt="Random second slide">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/7.jpeg" alt="Random third slide">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/8.jpg" alt="Random fourth slide">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/11.jpg" alt="Random fifth slide">
  </ng-template>
</ngb-carousel>
<!-- Slider End -->
<app-description></app-description>

