
<!-- Description Start -->
<div class="container">
  <h2 class="description-heading">Buy Runescape Gold, OS RS Gold, Old School RS Accounts, Cheap Rs3 Gold!</h2>
  <h4 class="description-sub-heading">EOC RS Gold and Old School Runescape Gold History at ArcusGold</h4>
  <p>Arcusgold began as a small one-man RS Gold shop on several forums in mid 2011, after RS gold buying and selling became
    an option again with the removal of trade limits, buying and selling through internet forums and instant messaging. Over
    the course of months, with hard work, commitment to service, and honest business practices we grew rapidly to become
    one of the go-to sellers of Runescape Gold, RS services, and RS Accounts across a variety of forums. We opened our first
    RS Gold site in early 2012, and expanded our runescape gold and business significantly. Today in 2016, despite the many
    changes that have occurred, the rs gold service that took us from our roots to where we are today remains largely unchanged.</p>
  <p>We have successfully delivered 150,000+ orders of Runescape Gold and old school RS gold over the course of 5 years. Our
    record of trustworthiness in the RS Gold and Runescape Accounts businesses is impeccable, we are trusted daily with tens
    of thousands of dollars worth of Runescape Gold and RS Accounts and can be relied upon for the many years to come! We
    invite you to join our list of buyers and sellers to find out why so many players buy and sell their RS gold to and from
    ArcusGold.
  </p>
  <h4 class="description-sub-heading">We are the number one website to buy Runescape Gold and cheap Old School Rs Gold</h4>
  <p>We strive to serve our customers with the cheapest place to buy RuneScape Gold, RS Accounts, old school Runescape 2007
    Gold, and EOC RS gold for sale with the cheapest prices available. We have sold millions of dollars worth of EOC Runescape
    Gold, old school RS Gold, and RS Accounts. We guarantee that our Runescape Gold, old school RS Gold, etc is cheaper than
    our competitors, and if you find a site selling for cheaper rates including fees, we will give you an rs gold bonus to
    make up for the difference. Our price match guarantee applies as well to Runescape 2007 Accounts, but only when comparing
    with businesses with a high level of credibility. Contact us if you'd like to find out if you can save money by buying
    old school RS accounts from ArcusGold</p>
  <p>Our Runescape 2007 gold and Runescape 3 gold is traded through direct trade, the duel arena or any method of trade of your
    choosing for our customers' safety. Our goal is to give RS gold customers a safe and enjoyable experience.</p>
  <p>As a team of avid players or ex-players of runescape, our mission is to help our rs gold customers reach their goals in
    game as quickly as possible by providing cheap Runescape gold and Runescape 2007 Gold.</p>
  <p>We began as a small runescape gold shop on forums such as Sythe and Powerbot and have delivered over 8,000B+ Runescape
    Gold (rs3 gold) and over 1000B+ Runescape 07 Gold over the last 3 years.</p>
  <p>If you decide to purchase, please select either Runescape Gold (EOC Gold), or Runescape 2007 Gold. At the top of this page
    are links to our product ordering pages. Runescape Gold (also known as EOC Gold) is for the current version of Runescape
    while RS2007 or old school Runescape Gold is for the version of Runescape that was brought back in February of 2013.
    Once you've placed your runescape gold order and paid on PayPal, message our live chat service in the bottom right hand
    corner to receive the rs gold. If you would like to pay with a payment method, please contact us and we will try our
    best to satisfy your rs gold order.</p>
  <h4 class="description-sub-heading">Why buy and sell Runescape Gold with ArcusGold?</h4>
  <p>
    <b>RS Gold Discount - </b>New customers at ArcusGold can save money by asking us on live chat for a discount prior to placing
    an order. We have coupon codes available for different products such as Runescape Accounts, Runescape Gold, RS 2007 Gold,
    etc.
  </p>
  <p>
    <b>RS Gold Discount - </b>New customers at ArcusGold can save money by asking us on live chat for a discount prior to placing
    an order. We have coupon codes available for different products such as Runescape Accounts, Runescape Gold, RS 2007 Gold,
    etc.
  </p>
  <p>
    <b>RS Gold Discount - </b>New customers at ArcusGold can save money by asking us on live chat for a discount prior to placing
    an order. We have coupon codes available for different products such as Runescape Accounts, Runescape Gold, RS 2007 Gold,
    etc.
  </p>
  <p>
    <b>RS Gold Discount - </b>New customers at ArcusGold can save money by asking us on live chat for a discount prior to placing
    an order. We have coupon codes available for different products such as Runescape Accounts, Runescape Gold, RS 2007 Gold,
    etc.
  </p>
  <p>
    <b>RS Gold Discount - </b>New customers at ArcusGold can save money by asking us on live chat for a discount prior to placing
    an order. We have coupon codes available for different products such as Runescape Accounts, Runescape Gold, RS 2007 Gold,
    etc.
  </p>
  <p>
    <b>RS Gold Discount - </b>New customers at ArcusGold can save money by asking us on live chat for a discount prior to placing
    an order. We have coupon codes available for different products such as Runescape Accounts, Runescape Gold, RS 2007 Gold,
    etc.
  </p>
  <p>
    <b>RS Gold Discount - </b>New customers at ArcusGold can save money by asking us on live chat for a discount prior to placing
    an order. We have coupon codes available for different products such as Runescape Accounts, Runescape Gold, RS 2007 Gold,
    etc.
  </p>
  <b>Note: Account termination is unlikely, yet possible when purchasing old school RS Gold and Runescape Gold.</b>
</div>
<!-- Description End -->