<!-- Sale Start -->
<div class="row" style="background:#f9f9f9;margin: 0px;">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<p class="home">{{home}}</p>
	</div>
</div>
<div class="container" style="color: #666666" *ngIf="id=='RS3'">
  <h4 class="sale-heading">Convert your Runescape 3 Gold into cash!</h4>
  <p>We buy more Runescape 3 Gold than we sell here at Arcus Gold. We have been purchasing Runescape Gold for well over 5 years now and have spent millions of dollars on Runescape Gold. Please contact us via live chat and we will be happy to take your rsgp and pay you out using a variety of payment methods, such as PayPal, Interac E-Transfer, Western Union, Bitcoin, or Bank Transfer. Our live chat agents are here to serve you and provide you the best gold selling service we possibly can.

We purchase tens of billions of Runescape 3 Gold everyday, with instant payments and for top dollar pricing. You can feel confident knowing our Runescape 3 Gold prices are as high as possible. On top of that, we cover the PayPal fees for all payments, so the price you are offered is the price you will receive from us everytime you sell RS gold to us. Avoid scammers in the Runescape Gold market by selling your gold to the one place you can confidently trust, backed by our reputation on Sythe, Powerbot, Osbot, and other forums as one of the top RS Gold buyers and sellers over the years. We are always looking for new permanent suppliers to keep us fully stocked with runescape gold for our ever-growing base of customers.</p> 
</div>
<div class="container" style="color: #666666" *ngIf="id=='RS2007'">
  <h4 class="sale-heading">Convert your Runescape 2007 Gold into cash!</h4>
  <p>We buy more Old School Runescape Gold than we sell here at Arcus Gold. We have been purchasing Runescape 07 Gold for well over 3 years now and have spent millions of dollars on RS 07 Gold. Please contact us via live chat and we will be happy to take your rs 2007 gold and pay you out using a variety of payment methods, such as PayPal, Interac E-Transfer, Western Union, Bitcoin, or Bank Transfer. Our live chat agents are here to serve you and provide you the best RS gold selling service we possibly can.

We purchase of billions of Runescape 2007 Gold everyday, with instant payments and for top dollar pricing. You can feel confident knowing our Runescape 07 Gold prices are as high as possible. On top of that, we cover the PayPal fees for all payments, so the price you are offered is the price you will receive from us everytime you sell OS RS gold to us. Avoid scammers in the Old School Runescape market by selling your rs 07 gold to the one place you can confidently trust, backed by our reputation on Sythe, Powerbot, Osbot, and other forums as one of the top RS Gold buyers and sellers over the years. We are always looking for new permanent suppliers to keep us fully stocked with runescape gold for our ever-growing base of customers.</p> 
</div>
<div class="container" style="color: #666666" *ngIf="id=='SKINS'">
  <h4 class="sale-heading">CS:GO Skins, Counter Strike: Global Offensive Skins and Knives</h4>
  <p>Order Cheap CSGO Skins & Knives with PayPal (Debit / Credit card), Bitcoin, Interac, Western Union, etc. CSGO Skins are delivered immediately after purchase. Please contact our live chat after paying on PayPal to recieve your order of Counter Strike: Global Offensive Skins & Knives. We sell CSGO Skins, Knives, and other items for a hefty discount compared to what you would pay on the Steam Market, with the convenience of ordering with any of the payment methods you love.

Do you wish to sell CSGO Skins, Keys, Knives, or other items to us? We happily purchase any CSGO items including full inventories for real cash. Simply message us on live chat, and we will give you an offer for your inventory or any Counter Strike: Global Offensive items you wish to sell, and pay you out promptly with any payment method of your choosing. One thing we would like you to keep in mind is that we cover all fees when sending payments. The the price you are offered is the price you will recieve!

Sorry, no products.</p> 
</div>
<!-- Sale End -->